body{
	background-color: grey;
}

#logo{
	width: 100%;
}

#container{
	background-color: white;
	border: 2px solid black;
	margin: 0 auto;
	margin-top: 5%;
}

#content{
	padding-top: 1em;
	padding-left: 2.5rem;
	padding-bottom: 1em;
}

#content #form_com{
	padding-left: -5rem;
}

#form_com input{
	margin-right: 3px;
	margin-left: 3px;
}

#form_com textarea{
	width: 91%;
}